In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "../data/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [16]:
# Building CSV to a Dataframe
purchase_df = purchase_data[[
    "Purchase ID",
    "SN",
    "Age",
    "Gender",
    "Item ID",
    "Item Name",
    "Price"]]
# Basic Calculations
purchase_group = purchase_df["SN"].value_counts()
Player_Count = len(purchase_group)
#Print Calculations
print("The total number of players is " + str(Player_Count)+".")

The total number of players is 576.

## Purchasing Analysis (Total)

In [17]:
#Number of Unique Items
unique_items = purchase_df["Item Name"].unique()
unique = len(unique_items)
#Average Purchase Price
Total = sum(purchase_df['Price'])
Q = len(purchase_df['Price'])
Average_P = Total / Q
#Total Number of Purchases
Purchase_num = Q
#Total Revenue
Revenue = purchase_df["Price"].sum()
#Print Calculations
print("Number of Unique Items: " +str(unique)+".")
print("Average Purchase Price: $"+"{:.2f}".format(Average_P)+".")
print("Total Number of Purchases: "+str(Q)+".")
print("Total Revenue: $"+"{:.2f}".format(Revenue)+".")

Number of Unique Items: 179.
Average Purchase Price: $3.05.
Total Number of Purchases: 780.
Total Revenue: $2379.77.

## Gender Demographics

In [18]:
# Basic Calculations
percentage = purchase_df['Gender'].value_counts(normalize=True)
value_purchase = purchase_df.loc[:, ["Gender", "SN"]].drop_duplicates()
player_counts = value_purchase["Gender"].value_counts()
Gen_ncount = purchase_df['SN'].nunique() 
Gen_count = purchase_df['SN'].count() 
#uild to DataFrame
gender_df = pd.DataFrame({"Total Players":player_counts, "Percentage":percentage.map("{:,.2%}".format)})
                                                                                #", is for every 3 decimals"
                                                                                #". of what to do after decimal
                                                                                #": means everything to right"
                                                                                #"2 is representative of decimal places
# Display DataFrame                
gender_df

                       Total Players Percentage
Male                             484     83.59%
Female                            81     14.49%
Other / Non-Disclosed             11      1.92%


## Purchasing Analysis (Gender)

In [19]:
# Basic Calculations
Gender_group = purchase_data.groupby(["Gender"])
Gender_group.count().head()
ave_price = Gender_group["Price"].mean()
purch_count = Gender_group["Gender"].count()
total_value = Gender_group["Price"].sum()
AvePP = round(total_value/player_counts,2)
#uild to DataFrame
gen_purchase_analysis = pd.DataFrame({"Purchase Count":purch_count,
                                     "Average Purchase Price": ave_price,
                                     "Total Purchase Value": total_value,
                                     "Average Purchase Total per Person by Gender":AvePP})
# Minor Data Munging
gen_purchase_analysis["Average Purchase Price"] = gen_purchase_analysis["Average Purchase Price"].map("${:.2f}".format)
gen_purchase_analysis["Total Purchase Value"] = gen_purchase_analysis["Total Purchase Value"].map("${:.2f}".format)
gen_purchase_analysis["Average Purchase Total per Person by Gender"] = gen_purchase_analysis["Average Purchase Total per Person by Gender"].map("${:.2f}".format)
# Display DataFrame
gen_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [20]:
# Basic Calculations
age_df = purchase_df.drop_duplicates(subset="SN")
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100]
age_range = ["<10","10-14","15-19","20-24", "25-29", "30-34","35-39","40+"]
age_group = purchase_df["SN"].value_counts()
purchase_df["Age Range"] = pd.cut(purchase_df["Age"], bins, labels=age_range,include_lowest=True)
age_count = purchase_df.groupby("Age Range").nunique()["SN"]
total = age_count.sum()
percentage_players = age_count / total
# Build to DataFrame
age_analysis = pd.DataFrame({"Total Count":age_count,
                             "Percentage of Players":percentage_players
                            })
# Minor Data Munging
age_analysis["Percentage of Players"] = age_analysis["Percentage of Players"].map("{:,.2%}".format)
# Display DataFrame
age_analysis

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

In [21]:
# Basic Calculations
purchase_count = purchase_df.groupby("Age Range").count()["Purchase ID"]
TPV = purchase_df.groupby("Age Range").sum()["Price"]
Quantity = purchase_df.groupby("Age Range").count()["Price"]
UniquePersons = purchase_df.groupby("Age Range").nunique()["SN"]
Avg_PP = TPV / Quantity
Avg_PPP = TPV / UniquePersons
# Build to DataFrame
age_spend_analysis = pd.DataFrame({"Purchase Count":purchase_count,
                             "Average Purchase Price":Avg_PP,
                              "Total Purchase Value":TPV,
                              "Avg Total Purchase per Person":Avg_PPP
                            })
# Minor Data Munging
age_spend_analysis["Average Purchase Price"] = age_spend_analysis["Average Purchase Price"].map("${:.2f}".format)
age_spend_analysis["Total Purchase Value"] = age_spend_analysis["Total Purchase Value"].map("${:.2f}".format)
age_spend_analysis["Avg Total Purchase per Person"] = age_spend_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
# Display DataFrame
age_spend_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [43]:
# Basic Calculations
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

# Build to DataFrame
user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})


## The formatting can not be applied to the dataframe in this manner without misrepresenting information

# user_data["Average Purchase Price"] = user_data["Average Purchase Price"].map("${:,.2f}".format)
# user_data["Total Purchase Value"] = user_data["Total Purchase Value"].map("${:,.2f}".format)
#user_data = user_data.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

# Display DataFrame
user_data.sort_values("Total Purchase Value", ascending=False ).head(5)

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                3.792000               5
Idastidru52                 15.45                3.862500               4
Chamjask73                  13.83                4.610000               3
Iral74                      13.62                3.405000               4
Iskadarya95                 13.10                4.366667               3

## Most Popular Items

In [24]:
# Basic Calculations
Item_group = purchase_df.groupby(["Item ID","Item Name"])
Item_price = Item_group["Price"].mean()
Purchase_count = Item_group["Item Name"].count()
Total_purchase_value = Item_group["Price"].sum()
# Build to DataFrame
item_analysis = pd.DataFrame({"Purchase Count":Purchase_count,
                              "Item Price":Item_price,
                               "Total Purchase Value":Total_purchase_value
                            })
# Minor Data Munging
item_analysis = item_analysis.sort_values("Purchase Count", ascending=False)
item_analysis["Item Price"] = item_analysis["Item Price"].map("${:.2f}".format)
item_analysis["Total Purchase Value"] = item_analysis["Total Purchase Value"].map("${:.2f}".format)

# Display DataFrame
item_analysis

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

### Most Profitable Items

In [46]:
# Build to DataFrame
profit_analysis = pd.DataFrame({"Purchase Count":Purchase_count,
                              "Item Price":Item_price,
                               "Total Purchase Value":Total_purchase_value
                            })
# Minor Data Munging
profit_analysis = profit_analysis.sort_values("Total Purchase Value", ascending=False)
profit_analysis["Total Purchase Value"] = profit_analysis["Total Purchase Value"].map("${:.2f}".format)
profit_analysis["Item Price"] = profit_analysis["Item Price"].map("${:.2f}".format)

# Display DataFrame
profit_analysis.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80